<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="back/include/_meta :: head"></div>
	<title>springboot-admin-page v1.0</title>
</head>
<body>
<!--_header 部分-->
<div th:replace="back/include/_header :: header"></div>
<!--/_header 部分-->

<!--_menu 部分-->
<div th:replace="back/include/_menu :: aside"></div>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>
<!--/_menu 部分-->

<section class="Hui-article-box">
	<div th:replace="back/include/_nav :: nav"></div>
	<div class="Hui-article">
		<article class="cl pd-20">
			这是个空白页，请在此处加入您的代码！
		</article>
	</div>
</section>

<!--_footer 部分-->
<div th:replace="back/include/_footer :: footer"></div>
<!--/_footer /部分-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" th:inline="javascript">
    $(document).ready(function () {
        //TODO 菜单ID
        clickLi("");
    })
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>