<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body><!--头部引入公共配置-->
<head th:fragment="aside">
    <aside class="Hui-aside">
        <div class="menu_dropdown bk_2">
            <dl>
                <dt><span class="glyphicon glyphicon-flash"></span> <span>WebShell</span><i
                        class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
                <dd>
                    <ul>
                        <li id="sshServerList"><a th:href="@{/back/sshServerList}" title="ssh/sftp连接">ssh/sftp连接</a></li>
                    </ul>
                </dd>
            </dl>
            <dl>
                <dt><span class="glyphicon glyphicon-eye-open"></span> <span>系统监控</span><i
                        class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
                <dd>
                    <ul>
                        <li id="swaggerUi">
                            <a target="_blank" th:href="@{'/doc.html'}" title="Swagger文档">Swagger文档</a>
                        </li>
                    </ul>
                </dd>
            </dl>
            <dl>
                <dt><span class="glyphicon glyphicon-hdd"></span> <span>数据库系统</span><i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
                </dt>
                <dd>
                    <ul>
                        <li id="dbList"><a th:href="@{/back/dbList}" title="Web版Navicat">Web版Navicat</a></li>
                        <li id="dbInfo"><a th:href="@{/back/db/}" title="应用数据库">应用数据库</a></li>
                        <li><a target="_blank" th:href="@{'/druid/index.html'}" title="druid监控">druid监控</a>
                    </ul>
                </dd>
            </dl>
            <dl>
                <dt><span class="glyphicon glyphicon-folder-open"></span> <span>文件系统</span><i
                        class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
                <dd>
                    <ul>
                        <li id="fileList"><a th:href="@{/back/jump2Page(page='file/fileList')}" title="文件系统">文件系统</a></li>
                    </ul>
                </dd>
            </dl>
            <dl>
                <dt><span class="glyphicon glyphicon-link"></span>  <span>FTP管理</span><i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
                </dt>
                <dd>
                    <ul>
                        <li id="ftpServerList"><a th:href="@{/back/ftpServerList}" title="FTP连接">FTP连接</a></li>
                    </ul>
                </dd>
            </dl>
            <dl>
                <dt><span class="glyphicon glyphicon-asterisk"></span> <span>任务管理</span><i
                        class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
                <dd>
                    <ul>
                        <li id="taskList"><a th:href="@{/back/taskList}" title="任务列表">任务列表</a></li>
                    </ul>
                </dd>
            </dl>
            <dl>
                <dt><span class="glyphicon glyphicon-cog"></span> <span>系统管理</span><i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
                </dt>
                <dd>
                    <ul>
                        <li id="configFile"><a th:href="@{/back/configFile}" title="配置文件">配置文件</a></li>
                        <li id="dictList"><a th:href="@{/back/dictList}" title="数据字典">数据字典</a></li>
                    </ul>
                </dd>
            </dl>
        </div>
    </aside>
</head>
</body>
</html>