<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="include/_meta :: head"></div>
	<title>springboot-admin-page v1.0</title>
</head>
<body>
<!--_header 作为公共模版分离出去-->
<div th:replace="include/_header :: header"></div>
<!--/_header 作为公共模版分离出去-->

<!--_menu 作为公共模版分离出去-->
<div th:replace="include/_menu :: aside"></div>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>
<!--/_menu 作为公共模版分离出去-->

<section class="Hui-article-box">
	<div th:replace="include/_nav :: nav"></div>
	<div class="Hui-article">
		<article class="cl pd-20">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="table-responsive">
							<table class="table table-hover table-bordered table-responsive table-condensed">
								<thead>
								<tr class="success">
									<th width="5%">序号</th>
									<th>接口url</th>
									<th>每秒允许的请求数(0表示不限制)</th>
									<th>接口描述</th>
									<th>创建时间</th>
									<th>操作</th>
								</tr>
								</thead>
								<tbody>
								<tr th:each="urlLimit : ${urlLimitList}">
									<td th:text="${urlLimitStat.count}"></td>
									<td th:text="${urlLimit.reqUrl}"></td>
									<td th:text="${urlLimit.urlLimit}"></td>
									<td th:text="${urlLimit.urlDesc}"></td>
									<td th:text="${#dates.format(urlLimit.createTime,'yyyy-MM-dd HH:mm:ss')}"></td>
									<td>
										<button class="btn btn-xs btn-success" th:data-val="${urlLimit.urlKey}"  onclick="showModal(this)">修改</button>
									</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</article>
	</div>
</section>


<div class="modal fade" id="modal_1" role="dialog" aria-labelledby="exampleModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
						aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="exampleModalLabel">修改</h4>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<label for="urlLimit" class="control-label">每秒请求数:</label>
						<input id="dataId" type="hidden">
						<input type="text" class="form-control" id="urlLimit">
					</div>
					<div class="form-group">
						<label for="urlDesc" class="control-label">接口描述:</label>
						<textarea class="form-control" id="urlDesc"></textarea>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="button" class="btn btn-primary" onclick="edit()">提交</button>
			</div>
		</div>
	</div>
</div>


<!--_footer 作为公共模版分离出去-->
<div th:replace="include/_footer :: footer"></div>
<!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" th:inline="javascript">

    var urlLimitList = [[${urlLimitList}]];

    $(document).ready(function () {
        clickLi("urlLimitList");
    })


    function showModal(who) {
        $('#modal_1').modal('show');

        var modal = $("#modal_1");
        var dataId = $(who).attr("data-val");

        for (var urlLimit in urlLimitList) {
            var urlKey = urlLimitList[urlLimit].urlKey;
            if (dataId==urlKey){
                modal.find('#dataId').val(dataId);
                modal.find('#urlLimit').val(urlLimitList[urlLimit].urlLimit);
                modal.find('#urlDesc').val(urlLimitList[urlLimit].urlDesc);
            }
        }
    }



    function edit() {
        var urlKey = $('#dataId').val();
        var urlLimit = $('#urlLimit').val();
        var urlDesc = $('#urlDesc').val();

        $.ajax({
            type: "post",
            url: ctx + "/urllimit/urlLimit/update",
            dataType: "text",
            async: false,
            data: {
                urlKey: urlKey,
                urlLimit: urlLimit,
                urlDesc: urlDesc
            },
            success: function (data) {
                refresh();
            },
            error: function (err) {
            }
        });
    }




</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>