<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body><!--头部引入公共配置-->
<head th:fragment="aside">
    <aside class="Hui-aside">
        <div class="menu_dropdown bk_2">
            <dl>
                <dt><span class="glyphicon glyphicon-flash"></span> <span>WebShell</span><i
                        class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
                <dd>
                    <ul>
                        <li id="sshServerList"><a th:href="@{/sshServerList}" title="ssh/sftp连接">ssh/sftp连接</a></li>
                    </ul>
                </dd>
            </dl>
            <dl>
                <dt><span class="glyphicon glyphicon-eye-open"></span> <span>系统监控</span><i
                        class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
                <dd>
                    <ul>
                        <li id="sysLog"><a th:href="@{/jump2Page(page='sys/log')}" title="系统日志">系统日志</a></li>
                        <li id="swaggerUi">
                            <!--<a target="_blank" th:href="@{'/swagger-ui.html'}" title="Swagger文档">Swagger文档</a>-->
                            <a target="_blank" th:href="@{'/doc.html'}" title="Swagger文档">Swagger文档</a>
                        </li>
                        <li id="requestFollowList"><a th:href="@{/requestFollowList}" title="请求追踪">请求追踪</a></li>
                    </ul>
                </dd>
            </dl>
            <dl>
                <dt><span class="glyphicon glyphicon-hdd"></span> <span>数据库系统</span><i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
                </dt>
                <dd>
                    <ul>
                        <li id="dbList"><a th:href="@{/dbList}" title="Web版Navicat">Web版Navicat</a></li>
                        <li id="dbInfo"><a th:href="@{/db/}" title="应用数据库">应用数据库</a></li>
                        <li><a target="_blank" th:href="@{'/druid/index.html'}" title="druid监控">druid监控</a>
                    </ul>
                </dd>
            </dl>
            <dl>
                <dt><span class="glyphicon glyphicon-folder-open"></span> <span>文件系统</span><i
                        class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
                <dd>
                    <ul>
                        <li id="fileList"><a th:href="@{/jump2Page(page='file/fileList')}" title="文件系统">文件系统</a></li>
                    </ul>
                </dd>
            </dl>
            <dl>
                <dt><span class="glyphicon glyphicon-link"></span>  <span>FTP管理</span><i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
                </dt>
                <dd>
                    <ul>
                        <li id="ftpServerList"><a th:href="@{/ftpServerList}" title="FTP连接">FTP连接</a></li>
                    </ul>
                </dd>
            </dl>
            <dl>
                <dt><span class="glyphicon glyphicon-asterisk"></span> <span>任务管理</span><i
                        class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
                <dd>
                    <ul>
                        <li id="jobList"><a th:href="@{/jobList}" title="quartz任务列表">quartz任务列表</a></li>
                        <li id="taskList"><a th:href="@{/taskList}" title="spring任务列表">spring任务列表</a></li>
                    </ul>
                </dd>
            </dl>
            <dl>
                <dt><span class="glyphicon glyphicon-random"></span> <span>camel路由管理</span><i
                        class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
                <dd>
                    <ul>
                        <li id="camelRouteList"><a th:href="@{/camelRouteList}" title="camel路由管理">camel路由管理</a></li>
                    </ul>
                </dd>
            </dl>
            <dl>
                <dt><span class="glyphicon glyphicon-cog"></span> <span>系统管理</span><i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
                </dt>
                <dd>
                    <ul>
                        <li id="configFile"><a th:href="@{/configFile}" title="配置文件">配置文件</a></li>
                        <li id="urlLimitList"><a th:href="@{/urlLimitList}" title="接口限流">接口限流</a></li>
                        <li id="dictList"><a th:href="@{/dictList}" title="数据字典">数据字典</a></li>
                    </ul>
                </dd>
            </dl>
            <dl>
                <dt><span class="glyphicon glyphicon-lock"></span> <span>权限中心</span><i
                        class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
                <dd>
                    <ul>
                        <li id="userList"><a th:href="@{/userList}" title="用户管理">用户管理</a></li>
                        <li id="authGroupList"><a th:href="@{/authGroupList}" title="权限组管理">权限组管理</a></li>
                        <li id="menuList"><a th:href="@{/menuList}" title="菜单管理">菜单管理</a></li>
                    </ul>
                </dd>
            </dl>
        </div>
    </aside>
</head>
</body>
</html>