<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<head th:fragment="nav">
        <nav class="breadcrumb"><i class="Hui-iconfont"></i> <a th:href="@{/}" class="maincolor">首页</a> <span class="c-999 en">&gt;</span><span class="c-666"></span><span class="c-999 en">&gt;</span><span class="c-666"></span>
                <label id="sysTime" style="margin-left: 55%;color: red"></label><a class="btn btn-success radius" style="line-height:1.6em;margin-top:3px;float: right"
                                                                                       href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
        </nav>
</head>
</body>
</html>