<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="include/_meta :: head"></div>
	<title>springboot-admin-page v1.0</title>
</head>
<body>
<!--_header 作为公共模版分离出去-->
<div th:replace="include/_header :: header"></div>
<!--/_header 作为公共模版分离出去-->

<!--_menu 作为公共模版分离出去-->
<div th:replace="include/_menu :: aside"></div>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>
<!--/_menu 作为公共模版分离出去-->

<section class="Hui-article-box">
	<div th:replace="include/_nav :: nav"></div>
	<div class="Hui-article">
		<article class="cl pd-20">
			<div class="container-fluid">
				<div class="row cl">
					<div class="col-md-12">
						<input type="hidden" value="info" id="logType"/>
						<button class="btn btn-success" type="button" onclick="changeLog('info')">INFO日志</button>
						&nbsp;&nbsp;
						<button class="btn btn-danger" type="button" onclick="changeLog('error')">ERROR日志</button>
						&nbsp;&nbsp;
						<button class="btn btn-primary" type="button" onclick="emptyContainer()">清空日志</button>
						&nbsp;&nbsp;
						<button class="btn btn-warning" type="button" onclick="logTrigger()">日志打印(on/off)</button>
					</div>
				</div>
				<div class="row cl" style="margin-top: 15px;" id="container_1">
					<div class="col-md-12" id="log-container"
						 style="height: 600px; overflow-y: scroll; background: rgba(182,218,146,0.89); color: rgba(0,0,0,0.97); padding: 10px;">
						<div>
						</div>
					</div>
				</div>
				<div class="row cl" style="margin-top: 15px;" id="container_2">
					<div class="col-md-12" id="log-container2"
						 style="height: 600px; overflow-y: scroll; background: rgba(182,218,146,0.89); color: rgba(0,0,0,0.97); padding: 10px;">
						<div>
						</div>
					</div>
				</div>
			</div>
			<input type="hidden" id="logTrigger" th:value="1"/>
		</article>
	</div>
</section>

<!--_footer 作为公共模版分离出去-->
<div th:replace="include/_footer :: footer"></div>
<!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" th:inline="javascript">

    $(document).ready(function () {
        clickLi("sysLog");
        infoLog();
        errorLog();

        changeLog('info');
    })


    function logTrigger() {
        var logTrigger = $("#logTrigger").val();
        var logTriggerVal = "";
        if ("1"==logTrigger){
            logTriggerVal = "2";
            infoLogSocketClose();
            errorLogSocketClose();
            layer.msg("停止日志打印！")
        }else if ("2"==logTrigger){
            logTriggerVal = "1";
            infoLog();
            errorLog();
            layer.msg("开启日志打印！")
        }
        $("#logTrigger").val(logTriggerVal);
    }


    function changeLog(logType) {
        if ("info"==logType){
            $("#container_1").show(800);
            $("#container_2").hide(800);
        }else if ("error"==logType){
            $("#container_1").hide(800);
            $("#container_2").show(800);
        }
        $("#logType").val(logType);
    }


    var infoLogSocket;
    var infoLogStompClient;

    var sysInfoLogUrl = ctx + "/sysInfoLog";

    function infoLog() {
        infoLogSocket = new SockJS(sysInfoLogUrl);
        infoLogStompClient = Stomp.over(infoLogSocket);
        infoLogStompClient.heartbeat.outgoing = 10000;
        infoLogStompClient.heartbeat.incoming = 0;
        var headers = {token:""};

        infoLogStompClient.connect(headers,function (frame) {
            infoLogStompClient.subscribe("/sysInfoLog",function (message) {
                var msg = message.body;
                // 接收服务端的实时日志并添加到HTML页面中
                $("#log-container div").append(msg);
                // 滚动条滚动到最低部
                $("#log-container").scrollTop($("#log-container div").height() - $("#log-container").height());
            });
        }, function (error) {
        });
    }

    var errorLogSocket;
    var errorLogStompClient;

    var sysErrorLogUrl = ctx + "/sysErrorLog";

    function errorLog() {
        errorLogSocket = new SockJS(sysErrorLogUrl);
        errorLogStompClient = Stomp.over(socket);
        errorLogStompClient.heartbeat.outgoing = 10000;
        errorLogStompClient.heartbeat.incoming = 0;
        var headers = {token:""};

        errorLogStompClient.connect(headers,function (frame) {
            errorLogStompClient.subscribe("/sysErrorLog",function (message) {
                var msg = message.body;
                // 接收服务端的实时日志并添加到HTML页面中
                $("#log-container2 div").append(msg);
                // 滚动条滚动到最低部
                $("#log-container2").scrollTop($("#log-container2 div").height() - $("#log-container2").height());
            });
        }, function (error) {
        });
    }




    function emptyContainer() {
        var logType = $("#logType").val();
        if ("info"==logType){
            $("#log-container div").empty();
        }else if ("error"==logType){
            $("#log-container2 div").empty();
        }
    }

    function stopApp() {
        layer.confirm('确认？', {
            btn: ['确认','取消']
        }, function(index){
            $.ajax({
                type: "get",
                url: ctx + "/exit",
                dataType: "text",
                async: true,
                success: function (data) {
                },
                error: function (err) {
                }
            });
            layer.close(index);
        }, function(){

        });
    }


    function infoLogSocketClose() {
        if (infoLogSocket != null) {
            infoLogSocket.close();
            infoLogSocket = null;
        }
        if (infoLogStompClient != null) {
            infoLogStompClient.disconnect();
            infoLogStompClient = null;
        }
    }

    function errorLogSocketClose() {
        if (errorLogSocket != null) {
            errorLogSocket.close();
            errorLogSocket = null;
        }
        if (errorLogStompClient != null) {
            errorLogStompClient.disconnect();
            errorLogStompClient = null;
        }
    }

    //监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
    window.onbeforeunload = function () {
        infoLogSocketClose();
        errorLogSocketClose();
    }

</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>