<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="back/include/_meta :: head"></div>
	<title>springboot-admin-page v1.0</title>
</head>
<body>
<!--_header 作为公共模版分离出去-->
<div th:replace="back/include/_header :: header"></div>
<!--/_header 作为公共模版分离出去-->

<!--_menu 作为公共模版分离出去-->
<div th:replace="back/include/_menu :: aside"></div>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>
<!--/_menu 作为公共模版分离出去-->

<section class="Hui-article-box">
	<div th:replace="back/include/_nav :: nav"></div>
	<div class="Hui-article">
		<article class="cl pd-20">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<form class="form-inline">
							<div class="form-group">
								<label for="hostname">IP地址</label>
								<input type="text" class="form-control" id="hostname" placeholder="IP地址">
							</div>
							<div class="form-group">
								<label for="port">PORT</label>
								<input type="text" class="form-control" id="port" placeholder="端口">
							</div>
							<div class="form-group">
								<label for="username">用户名</label>
								<input type="text" class="form-control" id="username" placeholder="用户名">
							</div>
							<div class="form-group">
								<label for="password">密码</label>
								<input type="text" class="form-control" id="password" placeholder="密码">
							</div>
							<div class="form-group">
								<label for="note">描述</label>
								<input type="text" class="form-control" id="note" placeholder="描述">
							</div>
							<button type="button" class="btn btn-primary" th:onclick="'check();'">验证</button>
							<button type="button" class="btn btn-info" th:onclick="'add();'">添加</button>
						</form>
					</div>
				</div>
				<div class="row" style="margin-top: 15px;">
					<div class="col-md-12">
						<div class="table-responsive">
							<table class="table table-condensed table-hover table-bordered">
								<thead>
								<tr class="success">
									<th width="5%">序号</th>
									<th width="10%">IP地址</th>
									<th width="5%">端口</th>
									<th width="10%">用户名</th>
									<th width="10%">密码</th>
									<th width="40%">描述信息</th>
									<th width="20%">操作</th>
								</tr>
								</thead>
								<tbody>
								<tr th:each="info : ${infoList}">
									<td th:text="${infoStat.count}"></td>
									<td th:text="${info.hostname}"></td>
									<td th:text="${info.port}"></td>
									<td th:text="${info.username}"></td>
									<td><span>******</span><input type="hidden" th:value="${info.password}"/></td>
									<td th:text="${info.note}"></td>
									<td>
										<div class="btn-group" role="group">
											<a class="btn btn-primary" th:data-note="${info.note}" type="button" th:onclick="'toEdit(this,\''+${info.id}+'\');'">修改</a>
											&nbsp;&nbsp;
											<button class="btn btn-danger" th:onclick="'del(\''+${info.id}+'\');'">删除</button>
											&nbsp;&nbsp;
											<a class="btn btn-info" type="button" th:href= "@{/back/webShell(id=${info.id})}" target="_blank">SSH</a>
											&nbsp;&nbsp;
											<a class="btn btn-success" type="button" th:href= "@{/back/sftp(id=${info.id})}" target="_blank">SFTP</a>
										</div>
									</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</article>
	</div>
</section>



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="exampleModalLabel">信息修改</h4>
			</div>
			<div class="modal-body">
				<form id="addUserForm">
					<div class="form-group">
						<label for="noteInfo" class="control-label">描述信息:</label>
						<input type="text" class="form-control" name="noteInfo" id="noteInfo">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="button" onclick="edit(this);" id="editBtn" data-id="" data-dismiss="modal" class="btn btn-primary">保存</button>
			</div>
		</div>
	</div>
</div>


<!--_footer 作为公共模版分离出去-->
<div th:replace="back/include/_footer :: footer"></div>
<!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" th:inline="javascript">

    $(document).ready(function () {
        clickLi("sshServerList");

    })


	function toEdit(who,id) {
        var note = $(who).attr("data-note");
        $('#editBtn').attr("data-id",id);
        $('#noteInfo').val(note);
        $('#exampleModal').modal('show');
    }


    function edit(who) {
        var id = $(who).attr("data-id");
        var note = $('#noteInfo').val();
        $.ajax({
            type: "post",
            url: ctx + "/editSshServer",
            dataType: "text",
            async: false,
            data: {
                id: id,
                note: note
            },
            success: function (data) {
                if (data=="true"){
                    refresh();
                }else {
                    layer.msg("修改失败！");
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }


    function add() {
        var hostname = $('#hostname').val();
        var port = $('#port').val();
        var username = $('#username').val();
        var password = $('#password').val();
        var note = $('#note').val();

        $.ajax({
            type: "post",
            url: ctx + "/addSshServer",
            dataType: "text",
            async: false,
            data: {
                hostname: hostname,
                username: username,
                port: port,
                password: password,
                type: 1,
                note: note
            },
            success: function (data) {
                if (data=="true"){
                    refresh();
                }else {
                    layer.msg("添加失败！");
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function check() {
        var hostname = $('#hostname').val();
        var port = $('#port').val();
        var username = $('#username').val();
        var password = $('#password').val();
        var note = $('#note').val();

        $.ajax({
            type: "post",
            url: ctx + "/checkSshServer",
            dataType: "text",
            async: false,
            data: {
                hostname: hostname,
                username: username,
                port: port,
                password: password,
                type: 1,
                note: note
            },
            success: function (data) {
                if (data=="true"){
                    layer.msg("连接成功！");
                }else {
                    layer.msg("连接失败！");
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }


    function del(id) {
        layer.confirm('确认删除？', {
            btn: ['确认','取消']
        }, function(){
            $.ajax({
                type: "post",
                url: ctx + "/delSshServer",
                dataType: "text",
                async: false,
                data: {
                    id: id
                },
                success: function (data) {
                    if (data=="true"){
                        refresh();
                    }else {
                        layer.msg("删除失败！");
                    }
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }, function(){

        });
    }


</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>