<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="back/include/_meta :: head"></div>
	<title>springboot-admin-page v1.0</title>
</head>
<body>
<!--_header 部分-->
<div th:replace="back/include/_header :: header"></div>
<!--/_header 部分-->

<!--_menu 部分-->
<div th:replace="back/include/_menu :: aside"></div>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>
<!--/_menu 部分-->

<section class="Hui-article-box">
	<div th:replace="back/include/_nav :: nav"></div>
	<div class="Hui-article">
		<article class="cl pd-20">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-10">
					</div>
					<div class="col-md-2">
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">添加权限组</button>
					</div>
				</div>
				</br>
				<div class="row">
					<div class="col-md-12">
						<table id="tableData" class="table table-hover table-responsive table-condensed">
							<thead>
							<tr class="success">
								<th>序号</th>
								<th>权限组名称</th>
								<th>是否可用</th>
								<th>操作</th>
							</tr>
							</thead>
							<tbody>
							<tr th:each="authGroup : ${authGroupList}">
								<td th:text="${authGroupStat.count}"></td>
								<td th:text="${authGroup.title}"></td>
								<td th:text="${authGroup.status==1?'可用':'禁用'}"></td>
								<td>
									<button type="button" th:if="${authGroup.status==0}" th:onclick="'enabledData(\''+${authGroup.id}+'\');'" class="btn btn-success btn-xs">启用</button>
									<button type="button" th:if="${authGroup.status==1}" th:onclick="'disabledData(\''+${authGroup.id}+'\');'" class="btn btn-warning btn-xs">禁用</button>
									<button type="button" th:onclick="'auth(\''+${authGroup.id}+'\');'" class="btn btn-primary btn-xs">授权</button>
									<button type="button" th:onclick="'del(\''+${authGroup.id}+'\');'" class="btn btn-danger btn-xs">删除</button>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</article>
	</div>
</section>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="exampleModalLabel">新建权限组</h4>
			</div>
			<div class="modal-body">
				<form id="dataForm">
					<div class="form-group">
						<label for="title" class="control-label">权限组名称:</label>
						<input type="text" class="form-control" name="title" id="title">
						<input type="hidden" name="type" value="2">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="button" onclick="saveData();" data-dismiss="modal" class="btn btn-primary">保存</button>
			</div>
		</div>
	</div>
</div>

<!--_footer 部分-->
<div th:replace="back/include/_footer :: footer"></div>
<!--/_footer /部分-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" th:inline="javascript">
    $(document).ready(function () {
        clickLi("authGroupList");
    })


    //禁用
    function disabledData(id) {
        updateStatus(id,0);
    }

    //启用
    function enabledData(id) {
        updateStatus(id,1);
    }

    function updateStatus(id,status) {
        layer.confirm('操作确认？', {
            btn: ['确认','取消']
        }, function(index){
            $.ajax({
                type: "post",
                url: ctx + "/authgroup/update",
                dataType: "json",
                async: false,
                data: {
                    id:id,
                    status:status
                },
                success: function (data) {
                    refresh();
                },
                error: function (err) {
                }
            });
            layer.close(index);
        }, function(){
        });
    }


    function auth(id) {
		layer.msg('未实现！');
    }

    function del(id) {
        layer.confirm('删除确认？', {
            btn: ['确认','取消']
        }, function(index){
            $.ajax({
                type: "post",
                url: ctx + "/authgroup/delete/"+id,
                dataType: "json",
                async: false,
                data: {
                },
                success: function (data) {
                    refresh();
                },
                error: function (err) {
                }
            });
            layer.close(index);
        }, function(){
        });
    }



    function saveData() {

        var data = $("#dataForm").serializeArray();

        var flag = false;
        $.each(data,function (item) {
            if (data[item].value != ""){
                flag = true;
            }
        })

        if (flag){
            $.ajax({
                type: "post",
                url: ctx + "/authgroup/add",
                dataType: "json",
                async: false,
                data: data,
                success: function (data) {
                    refresh();
                },
                error: function (err) {

                }
            });
        }
    }

    $('#exampleModal').on('show.bs.modal', function (e) {
        var modal = $(this);
        modal.find("form")[0].reset();
    })

</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>