<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta title="FTP">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />

	<link rel="Bookmark" href="favicon.ico" >
	<link rel="Shortcut Icon" href="favicon.ico" />
	<link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
	<script type="text/javascript" th:src="@{/lib/jquery/1.9.1/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/lib/layer/2.4/layer.js}"></script>
	<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/lib/jquery/1.9.1/ajaxfileupload.js}"></script>

</head>
<body style="background-color: #cce8cf">

<div class="container">
	<div class="row" style="margin-top: 1%">
		<h1 style="text-align: center;color:#1924ff" th:text="|${ftpInfo.hostname} (FTP)|"></h1>
	</div>
	<div class="row" style="margin-top: 1%">
		<div class="col-md-12">
			<div class="progress progress-striped active">
				<div class="progress-bar progress-bar-info" role="progressbar"
					 aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
					 style="width: 0%;">
					<span id="percent">00.00%</span>
				</div>
			</div>
		</div>
	</div>
	<div class="row" style="margin-top: 1%">
		<div class="col-md-7">
			<form class="form-inline">
				<div class="form-group">
					<input type="file" id="ftpUploadFile" name="ftpUploadFile"/>
				</div>
				<button type="button" class="btn btn-success" id="subFile">上传</button>
			</form>
		</div>
		<div class="col-md-5">
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-primary" onclick="selectAllBox()">全选</button>
				<button type="button" class="btn btn-info" onclick="notSelectAllBox()">全不选</button>
				<button type="button" class="btn btn-danger" onclick="batchDel()">批量删除</button>
				<button class="btn btn-success" type="button" onclick="refresh()">刷新页面</button>
				<button class="btn btn-warning" type="button" onclick="closeFtpClient();">关闭连接</button>
			</div>
		</div>
	</div>
	<div class="row" style="margin-top: 2%">
		<div class="col-md-12">
			<div class="panel panel-warning">
				<div class="panel-heading">
					<label class="panel-title pull-left" style="margin-top:5px;font-size: small"
						   th:text="|${ftpBean.currDir}   [文件数:${ftpBean.fileCount} 目录数:${ftpBean.dirCount}]|">
					</label>
					<button class="btn btn-sm btn-success col-md-2 col-sm-3 pull-right" id="subCreate">创建目录</button>
					<div class="col-md-2 pull-right">
						<input class="form-control input-sm" type="text" id="fName"/>
					</div>
					<label class="control-label pull-right" for="fName" style="margin-top:5px">目录名称</label>
					<span class="clearfix"></span>
				</div>
				<div class="panel-body" style="height:500px;padding:0;overflow:scroll">
					<table class="table table-striped  table-responsive table-hover">
						<thead>
							<tr>
								<th>Remote Name</th>
								<th>Size</th>
								<th>Modified</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody id="file-list">
							<tr th:if="${ftpBean.showFirstRow}">
								<td><a th:href= "@{/ftpPage(id=${ftpInfo.id},parentDir=true)}">上一级</a></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr th:each="ftpFile : ${ftpBean.ftpFileList}" style="cursor:pointer;" onclick="checkBox(this);">
								<td th:if="${ftpFile.dir}">
									<input type="checkbox" name="checkbox" th:value="|${ftpFile.name},${ftpFile.dir}|">
									<img style="height: 15px;" th:src="@{/app/images/fold.png}"/>
									<a th:href= "@{/ftpPage(id=${ftpInfo.id},dir=${ftpFile.name})}"><span th:text="${ftpFile.name}"></span></a>
								</td>
								<td th:if="!${ftpFile.dir}">
									<input type="checkbox" name="checkbox" th:value="|${ftpFile.name},${ftpFile.dir}|">
									<img style="height: 15px;" th:src="@{/app/images/file.png}"/>
									<span th:text="${ftpFile.name}"></span>
								</td>
								<td th:if="${ftpFile.dir}">- -</td>
								<td th:if="!${ftpFile.dir}"><span th:text="${ftpFile.size}"></span></td>
								<td th:text="${#dates.format(ftpFile.date,'yyyy-MM-dd HH:mm:ss')}"></td>
								<td>
									<button class="btn btn-danger  btn-xs" th:onclick="'delFile(\''+${ftpFile.name}+'\',\''+${ftpFile.dir}+'\');'">删除</button>
									<button th:if="!${ftpFile.dir}" class="btn btn-primary  btn-xs" th:onclick="'downloadFtpFile(\''+${ftpFile.name}+'\');'">下载</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- action return message model begin -->
<div class="modal fade" id="msgModal" tabindex="-1" role="dialog"
	 aria-labelledby="msgModalLabel" data-backdrop="static">
	<div class="modal-dialog">
		<div id="message" style="text-align: center;color:white;margin-top: 20%"></div>
	</div>
</div>
<!-- action return message model end -->




<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" th:inline="javascript">
    var ftpInfo = [[${ftpInfo}]];

    $(document).ready(function(){
        // $('#message').html('Ftp file loading...');
        // $("#msgModal").modal('show');
        // var $id = sshInfo.id;

        /*$.getJSON('connectSftp?id=' + $id, function(data){
            showFiles(data);
        });*/

        // $("#msgModal").modal('hide');
    });

    function refresh() {
        window.location = location.href;
    }
    
    function selectAllBox() {
        $("input[name='checkbox']").each(function () {
			$(this).prop("checked",true);
        });
    }

    function notSelectAllBox() {
        $("input[name='checkbox']").each(function () {
            $(this).prop("checked",false);
        });
    }

    function checkBox(tr) {
        $(tr).find("input[name='checkbox']").each(function () {
            $(this).prop('checked',$(this).is(':checked')?false:true);
        });
    }

    function batchDel() {

        var fileNameArr = new Array();

        $("input[name='checkbox']:checked").each(function () {
            var val = $(this).val();
            fileNameArr.push(val);
        });

        var splitStr = "|";
        var fileNameStr = fileNameArr.join(splitStr);

        if (fileNameArr.length==0){
            layer.msg("请先选择要删除的文件或目录！");
            return;
        }

        layer.confirm('确定执行批量删除吗？', function(index){
            $.ajax({
                type: "post",
                url: "batchDelFtpFile",
                dataType:"text",
                async: false,
                data: {
                    id: ftpInfo.id,
                    splitStr: splitStr,
                    fileNameStr: fileNameStr
                },
                success: function (data) {
                    if ("true"==data){
                        refresh();
                    }else {
                        layer.msg("删除失败！");
                    }
                },
                error: function (err) {
                    layer.msg("删除失败！");
                }
            });
            layer.close(index);
        });
    }


    function closeFtpClient(){
        $.ajax({
            type: "get",
            url: "closeFtpClient",
            dataType: "text",
            async: false,
            data: {
                id: ftpInfo.id
            },
            success: function (data) {
                window.opener=null;
                window.open('','_self');
                window.close();
            },
            error: function (err) {
                window.opener=null;
                window.open('','_self');
                window.close();
            }
        });
	}

    function downloadFtpFile(fileName) {
        var form = $("<form>");
        form.attr('style', 'display:none');
        // form.attr('target', '_blank');
        form.attr('method', 'post');
        form.attr('action', "downloadFtpFile?id="+ftpInfo.id);

        var input1 = $('<input>');
        input1.attr('type', 'hidden');
        input1.attr('name', 'fileName');
        input1.attr('value', fileName);
        form.append(input1);
        $('body').append(form);
        form.submit();
    }

    function refreshProgress(fileName) {
        $.get('ftpUploadState?t=' + new Date().getTime()+"&fileName="+fileName,function(data){
            $('.progress-bar').css('width',data.percent);
            $('#percent').html(data.percent);
            if (data.percent != '100.00%'){
                setTimeout("refreshProgress('"+fileName+"')", 1000);
			}else {
                $.get('clearFtpUploadState?t=' + new Date().getTime()+"&fileName="+fileName,function(data){
                    refresh();
                });
			}
        });
    };
    //create new fodder
    $('#subCreate').click(function(){
        var $fName = $('#fName').val();
        if ($.trim($fName)=="") {
            layer.msg("Fodder name is empty!");
            return;
        }

        $.ajax({
            type: "post",
            url: "createFtpDir",
            dataType: "text",
            async: false,
            data: {
                id: ftpInfo.id,
                dirName: $fName
            },
            success: function (data) {
                if ("true"==data){
                    refresh();
                }else {
                    layer.msg("创建失败！");
                }
            },
            error: function (err) {
                layer.msg("创建失败！");
            }
        });

    })


    function getFileName(fileName){
        var arr = fileName.split('\\');//通过\分隔字符串，成字符串数组
        return arr[arr.length-1];//取最后一个，就是文件名
    }

    //upload file
    $('#subFile').click(function(){
        $.ajaxFileUpload({
            url: 'uploadFtpFile?id='+ftpInfo.id,
            type: 'post',
            secureuri: false,
            fileElementId: 'ftpUploadFile',
            dataType: 'json',
            elementIds: '',
            success: function(data, status){
				// refresh();
            },
            error: function(data, status, e){
                // $('#progress').html("upload failed.");
            }
        });
        var fileName = getFileName($("#ftpUploadFile").val());
        refreshProgress(fileName);
    });


    function delFile(fileName,isDir) {
        layer.confirm('确认删除 '+fileName+" 吗？", function(index){

            $.ajax({
                type: "get",
                url: "delFtpFile",
                dataType: "text",
                async: false,
                data: {
                    id: ftpInfo.id,
					fileName: fileName,
					isDir: isDir
                },
                success: function (data) {
                    if ("true"==data){
                        refresh();
                    }else {
                        layer.msg("删除失败！");
					}
                },
                error: function (err) {
                    layer.msg("删除失败！");
                }
            });

            layer.close(index);
        });

    }
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>

</html>